body {
    margin: 0;
    padding: 0;
    //overflow: hidden;
}

p,
h1,
h2,
h3,
table,
tr,
td,
img,
ol,
ul {
    font-family: "Rajdhani", sans-serif;
    color: white;
    line-height: 1.45em;
}

h1 {
    font-weight: 700;
    font-size: 3em;
}

mark {
    background-color: #239799;
    color: #ffffff;
}

.darkFont {
    color: black;
}